
body {
    font-family: 'Courier', sans-serif;
    background-color: #f9f9f9;
    padding: 20px;
    line-height: 1.6;
}

h1, h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

h3 {
    color: #007BFF;
    margin-bottom: 10px;
}

p, li {
    color: #555;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

ul li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #007BFF;
}

a:hover {
    text-decoration: underline;
}
